* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;

}

.header {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #987dfe;
    color: white;
}

main {
    display: flex;
    flex-direction: row;
    padding: 16px;
    background-color: rgba(160, 134, 249, 0.5);
    gap: 16px;
    min-height: 100vh;

}

.left-section {
    flex: 1;
}

.right-section {
    display: flex;
    flex-direction: column;
    flex: 2;

}

.inputSection {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 3px solid white;
    border-radius: 5px;
    background-color: #987dfe;
}

.inputSection>h2 {
    text-align: center;
    color: white;
}

.inputSection>form>.input {
    margin: 8px 0;
    color: white;
}

.inputSection>form>button {
    background-color: white;
    color: #987dfe;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.inputSection>form>button>span {
    font-weight: bold;
}

.inputSection>form>.input>input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}


.inputSection>form>.input>label {
    color: white;
}

.inputSection>form>.input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.inputSection>form>.input_inline>label {
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

.search_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: 3px solid white;
    border-radius: 5px;
    background-color: #987dfe;
}

.search_section>h2 {
    color: white;
}

.search_section>form {
    padding: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
    grid-gap: 10px;
}

.search_section>form>label {
    display: flex;
    align-items: center;
    color: white;
}

.search_section>form>input {
    padding: 5px;
    border-radius: 5px;
}

.search_section>form>button {
    color: white
}

.search_section>form>button {
    background-color: white;
    color: #987dfe;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.bookShelf {
    margin: 16px 0 0 0;
    border: 3px solid white;
    padding: 16px;
    border-radius: 5px;
    background-color: #987dfe;
    color: white
}

.bookShelf>h2 {
    color: white;
}

.bookShelf>.list {
    padding: 16px;
}

.bookShelf>.list>.item_book {
    padding: 8px 16px 16px 16px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px 0;
}

.bookShelf>.list>.item_book>h3,
p {
    margin: 8px 0;
}

.bookShelf>.list>.item_book>.action>button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.bookShelf>.list>.item_book>.action>.green {
    background-color: blue;
    color: white;
}

.bookShelf>.list>.item_book>.action>.red {
    background-color: red;
    color: white;
}

.bookShelf>.list>.item_book>.action>.yellow {
    background-color: orange;
    color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .right-section {
        flex: 1;
    }
}